.meditation-container{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}


.meditation-container .meditation-mensage{
    padding: 3% 10% ;
    background: red;
    justify-content: center;
    box-sizing: border-box;
}

.meditation-container .meditation-mensage video{
    width: 100%;
    max-height: 500px;
    background: rebeccapurple;
    box-sizing: border-box;
}

.meditation-container .meditation-mensage video source{
    width: 100%;
}
