@media (max-width: 768px){
    .home-container .home-content .about-content h5{
        font-size: 30px;
    }

    .about-content-datas{
        flex-direction: column;
        text-align: center;
    }

    .about-content-datas img{
        width: 100%
    }

    .about-content p{
        padding-top: 5%;
    }
}

@media (max-width: 850px){
    .members-content{
        display: none;
    }
}