@media (max-width: 768px){
    .music-content{
        flex-direction: column;
    }

    .music-container .music-mucis,
    .music-container .music-lyrics{
        width: 100%;
    }

    .music-container .music-mucis section .music-audio{
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .music-container .music-mucis section .music-audio audio{
        margin-bottom: 2%;
    }

    .music-container nav .options a{
        font-size: 16px;
    }   

    .music-container .music-mucis section ul{
        display: none;
    }

    .music-container .music-mucis section ul span{
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }
    
    .music-container .music-mucis section ul.open{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        top: 0%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 3%;
        padding-top: 5%;
        background-color: rgba(34, 32, 32, 0.97);
        filter: grayscale(1);
    }
}