@media (max-width: 768px){
    .events-content h5{
        font-size: 30px;
    }

    .event .event-details{
        display: flex;
        flex-direction: column;
    }

    .more{
        margin-top: 2%;
    }

    .event-more-details-on{
        justify-content: left;
        width: 100%;
    }

    .events-content ul li .event-details span, 
    .events-content ul li .event-details span ~ span{
        font-size: 18px;
    }
}